:host,
:host * {
  box-sizing: border-box;
}

:host {
  position: relative;
}

.content {
  overflow: hidden;
  box-shadow: var(--leu-box-shadow-short);
  border-radius: 2px;

  margin-top: 0.5rem;
}

.button {
  max-width: 100%;
}
