## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log
.npmrc

## testing
/coverage/

## temp folders
/.tmp/
/test-results.json
/screenshots/

# build
/_site/
/dist/
/out-tsc/

.storybook/static/theme.css
storybook-static
/docs
custom-elements.json

