:host {
  display: inline-block;
}

button {
  font-family: var(--leu-font-family-black);
  font-feature-settings: var(--leu-t-font-feature-settings);
  text-align: center;
  appearance: none;
  transition: background 0.1s ease;
  cursor: pointer;
  border: none;
  border-radius: 2px;

  max-width: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.content {
  flex: 1 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button.round {
  border-radius: 50%;
}

button:disabled {
  cursor: not-allowed;
}

button:focus-visible {
  outline: 2px solid var(--leu-color-func-cyan);
  outline-offset: 2px;
}

button.inverted:focus-visible {
  outline: 2px solid var(--leu-color-black-0);
}

:host([fluid]) button {
  width: 100%;
  justify-content: center;
}

/* size - regular */
button.regular {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
}

button.regular.icon-only {
  padding: 12px;
}

/* size - small */
button.small {
  padding: 6px 24px;
  font-size: 14px;
  line-height: 20px;

  --leu-icon-size: 1rem;
}

button.small.icon-only {
  padding: 8px;
}

/* primary */
button.primary {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-100);
}

button.primary:hover {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-transp-80);
}

button.primary.active {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-100);
}

button.primary.active:hover {
  background: var(--leu-color-black-transp-80);
}

button.primary:disabled {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-transp-20);
}

/* secondary */
button.secondary {
  color: var(--leu-color-black-transp-60);
  background: var(--leu-color-black-transp-10);
}

button.secondary:hover {
  color: var(--leu-color-black-100);
  background: var(--leu-color-black-transp-20);
}

button.secondary.active {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-100);
}

button.secondary.active:hover {
  background: var(--leu-color-black-transp-80);
}

button.secondary:disabled {
  color: var(--leu-color-black-transp-20);
  background: var(--leu-color-black-transp-5);
}

/* ghost */
button.ghost {
  --leu-icon-size: 1rem;

  background: transparent;
  padding: 0 0.5rem;
  color: var(--leu-color-black-60);
  font-family: var(--leu-font-family-regular);
}

button.ghost:hover {
  color: var(--leu-color-black-100);
}

button.ghost.active {
  color: var(--leu-color-black-100);
}

button.ghost:disabled {
  color: var(--leu-color-black-20);
}

/* primary + inverted */
button.primary.inverted {
  color: var(--leu-color-black-100);
  background: var(--leu-color-black-0);
}

button.primary.inverted:hover {
  color: var(--leu-color-black-100);
  background: var(--leu-color-white-transp-70);
}

button.primary.inverted.active {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-100);
}

button.primary.inverted:disabled {
  color: var(--leu-color-black-40);
  background: var(--leu-color-white-transp-70);
}

/* secondary + inverted */
button.secondary.inverted {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-transp-20);
}

button.secondary.inverted:hover {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-transp-40);
}

button.secondary.inverted.active {
  color: var(--leu-color-black-100);
  background: var(--leu-color-black-0);
}

button.secondary.inverted:disabled {
  color: var(--leu-color-white-transp-70);
  background: var(--leu-color-black-transp-10);
}

/* ghost + inverted */
button.ghost.inverted {
  color: var(--leu-color-black-0);
}

button.ghost.inverted:hover {
  color: var(--leu-color-white-transp-70);
}

button.ghost.inverted.active {
  color: var(--leu-color-black-0);
}

button.ghost.inverted:disabled {
  color: var(--leu-color-black-20);
}

/* icon-wrapper */
.icon-wrapper leu-icon {
  display: block;
}

.ghost.icon-before .icon-wrapper--before,
.ghost.icon-after .icon-wrapper--after {
  display: block;
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--leu-color-black-transp-10);
}

.ghost.active :is(.icon-wrapper--before, .icon-wrapper--after) {
  background: var(--leu-color-black-100);
  color: var(--leu-color-black-0);
}

.ghost:disabled :is(.icon-wrapper--before, .icon-wrapper--after) {
  background: var(--leu-color-black-transp-5);
}

/* inverted */

.ghost.inverted :is(.icon-wrapper--before, .icon-wrapper--after) {
  background: var(--leu-color-black-transp-20);
}

.ghost.inverted:hover :is(.icon-wrapper--before, .icon-wrapper--after) {
  background: var(--leu-color-black-transp-40);
  color: var(--leu-color-black-0);
}

.ghost.inverted:disabled :is(.icon-wrapper--before, .icon-wrapper--after) {
  background: var(--leu-color-black-transp-20);
  color: var(--leu-color-white-transp-70);
}

.ghost.active.inverted :is(.icon-wrapper--before, .icon-wrapper--after) {
  background: var(--leu-color-black-0);
  color: var(--leu-color-black-100);
}

/* Expanded icon */
.icon-wrapper--expanded {
  transition: transform 0.1s ease;
}

:host([expanded="open"]) .icon-wrapper--expanded {
  transform: rotate(180deg);
}
