:host {
  display: inline-block;
}

.button {
  font-family: var(--leu-font-family-black);
  text-align: center;
  text-decoration: none;
  appearance: none;
  transition: background 0.1s ease;
  cursor: pointer;
  border: none;
  border-radius: 2px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  width: 100%;
}

.content {
  flex: 1 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button--round {
  border-radius: 50%;
}

.button:disabled {
  cursor: not-allowed;
}

.button:focus-visible {
  outline: 2px solid var(--leu-color-func-cyan);
  outline-offset: 2px;
}

.button--inverted:focus-visible {
  outline: 2px solid var(--leu-color-black-0);
}

.button--icon-only {
  aspect-ratio: 1;
  width: unset;
}

/* size - regular */
.button--regular {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
}

.button--regular.button--icon-only {
  padding: 12px;
}

/* size - small */
.button--small {
  padding: 6px 24px;
  font-size: 14px;
  line-height: 20px;

  --leu-icon-size: 1rem;
}

.button--small.button--icon-only {
  padding: 8px;
}

/* primary */
.button--primary {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-100);
}

.button--primary:hover {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-transp-80);
}

.button--primary.button--active {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-100);
}

.button--primary.button--active:hover {
  background: var(--leu-color-black-transp-80);
}

.button--primary:disabled {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-transp-20);
}

/* secondary */
.button--secondary {
  color: var(--leu-color-black-transp-60);
  background: var(--leu-color-black-transp-10);
}

.button--secondary:hover {
  color: var(--leu-color-black-100);
  background: var(--leu-color-black-transp-20);
}

.button--secondary.button--active {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-100);
}

.button--secondary.button--active:hover {
  background: var(--leu-color-black-transp-80);
}

.button--secondary:disabled {
  color: var(--leu-color-black-transp-20);
  background: var(--leu-color-black-transp-5);
}

/* ghost */
.button--ghost {
  --leu-icon-size: 1rem;

  background: transparent;
  padding: 0 0.5rem;
  color: var(--leu-color-black-60);
  font-family: var(--leu-font-family-regular);
  height: 2rem;
}

.button--ghost:hover {
  color: var(--leu-color-black-100);
}

.button--ghost.button--active {
  color: var(--leu-color-black-100);
}

.button--ghost:disabled {
  color: var(--leu-color-black-20);
}

/* primary + inverted */
.button--primary.button--inverted {
  color: var(--leu-color-black-100);
  background: var(--leu-color-black-0);
}

.button--primary.button--inverted:hover {
  color: var(--leu-color-black-100);
  background: var(--leu-color-white-transp-70);
}

.button--primary.button--inverted.button--active {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-100);
}

.button--primary.button--inverted:disabled {
  color: var(--leu-color-black-40);
  background: var(--leu-color-white-transp-70);
}

/* secondary + inverted */
.button--secondary.button--inverted {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-transp-20);
}

.button--secondary.button--inverted:hover {
  color: var(--leu-color-black-0);
  background: var(--leu-color-black-transp-40);
}

.button--secondary.button--inverted.button--active {
  color: var(--leu-color-black-100);
  background: var(--leu-color-black-0);
}

.button--secondary.button--inverted:disabled {
  color: var(--leu-color-white-transp-70);
  background: var(--leu-color-black-transp-10);
}

/* ghost + inverted */
.button--ghost.button--inverted {
  color: var(--leu-color-black-0);
}

.button--ghost.button--inverted:hover {
  color: var(--leu-color-white-transp-70);
}

.button--ghost.button--inverted.button--active {
  color: var(--leu-color-black-0);
}

.button--ghost.button--inverted:disabled {
  color: var(--leu-color-black-20);
}

/* icon-wrapper */
.icon-wrapper leu-icon {
  display: block;
}

.icon-wrapper {
  display: none;
}

.button--icon-before .icon-wrapper--before,
.button--icon-after .icon-wrapper--after {
  display: block;
}

.button--ghost .icon-wrapper {
  position: relative;
  width: 2rem;
  padding: 0 0.5rem;
  --_bg: var(--leu-color-black-transp-10);
  --_color: currentcolor;
}

.button--ghost .icon-wrapper__slot {
  display: block;
  position: relative;
  z-index: 1;
  color: var(--_color);
}

.button--ghost .icon-wrapper::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  top: -0.5rem;

  width: 2rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--_bg);
}

.button--ghost.button--active .icon-wrapper {
  --_bg: var(--leu-color-black-100);
  --_color: var(--leu-color-black-0);
}

.button--ghost:disabled .icon-wrapper {
  --_bg: var(--leu-color-black-transp-5);
}

/* inverted */

.button--ghost.button--inverted .icon-wrapper {
  --_bg: var(--leu-color-black-transp-20);
}

.button--ghost.button--inverted:hover .icon-wrapper {
  --_bg: var(--leu-color-black-transp-40);
  --_color: var(--leu-color-black-0);
}

.button--ghost.button--inverted:disabled .icon-wrapper {
  --_bg: var(--leu-color-black-transp-20);
  --_color: var(--leu-color-white-transp-70);
}

.button--ghost.button--active.button--inverted .icon-wrapper {
  --_bg: var(--leu-color-black-0);
  --_color: var(--leu-color-black-100);
}

/* Expanded icon */
.icon-expanded leu-icon {
  display: block;
}

.icon-expanded {
  transition: transform 0.1s ease;
}

:host([expanded="true"]) .icon-expanded {
  transform: rotate(180deg);
}
