:host,
:host * {
  box-sizing: border-box;
}

:host {
  --background: var(--leu-color-black-0);
  --background-hover: var(--leu-color-black-10);
  --background-active: var(--leu-color-accent-blue);
  --background-disabled: var(--leu-color-black-black-0);
  --color: var(--leu-color-black-transp-60);
  --color-active: var(--leu-color-black-0);
  --color-disabled: var(--leu-color-black-transp-20);
  --font-regular: var(--leu-font-family-regular);
  --font-black: var(--leu-font-family-black);

  font-family: var(--leu-font-family-regular);
}

.button {
  text-decoration: none;
  appearance: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;

  padding: 0.75rem;

  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;

  background: var(--background);
  color: var(--color);
}

.button:focus-visible {
  outline: 2px solid var(--leu-color-func-cyan);
  outline-offset: 2px;
}

.button:hover,
.button:focus-visible {
  --background: var(--background-hover);
}

/*
 * These colors do not match with the design system (yet).
 * But at least they are compliant with the WCAG AA contrast ratio.
 */
:host([active]) .button {
  --background: var(--background-active);
  --color: var(--color-active);
}

:host([disabled]) .button {
  --background: var(--background-disabled);
  --color: var(--color-disabled);
  cursor: not-allowed;
}

:is(.before, .after) leu-icon {
  display: block;
}

.label {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon-placeholder {
  display: block;
  width: 1.5rem;
  aspect-ratio: 1;
}
