:host {
  --checkbox-color: var(--leu-color-black-40);
  --checkbox-color-disabled: var(--leu-color-black-20);
  --checkbox-color-focus: var(--leu-color-func-cyan);

  --checkbox-label-color: var(--leu-color-black-100);
  --checkbox-label-color-disabled: var(--checkbox-color-disabled);

  --checkbox-tick-color: var(--leu-color-black-0);

  --checkbox-font-regular: var(--leu-font-family-regular);
  --checkbox-font-feature-settings: var(--leu-t-font-feature-settings);

  position: relative;

  display: inline-flex;
  align-items: flex-start;
  gap: 0.5rem;

  font-family: var(--checkbox-font-regular);
  font-feature-settings: var(--checkbox-font-feature-settings);
}

.checkbox {
  --_length: 1.5rem;
  appearance: none;
  cursor: pointer;

  width: var(--_length);
  height: var(--_length);
  margin: 0;

  border: 2px solid var(--checkbox-color);
  border-radius: 2px;

  flex: 1 0 var(--_length);

  display: grid;
  place-items: center;
}

.checkbox:checked {
  background-color: var(--checkbox-color);
}

.checkbox:is(:hover, :checked, :focus) {
  --checkbox-color: var(--checkbox-color-focus);
}

.checkbox:focus-visible {
  outline: 2px solid var(--checkbox-color-focus);
  outline-offset: 2px;
}

.checkbox:disabled {
  --checkbox-color: var(--checkbox-color-disabled);
  cursor: not-allowed;
}

.label {
  cursor: pointer;
  color: var(--checkbox-label-color);
  font-size: 1rem;
  line-height: 1.5;
}

.checkbox:disabled + .label {
  --checkbox-label-color: var(--checkbox-label-color-disabled);
  cursor: not-allowed;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--checkbox-tick-color);
  pointer-events: none;
}
