@import url("../../styles/custom-media.css");

:host {
  --tab-font-regular: var(--leu-font-family-regular);
  --tab-font-black: var(--leu-font-family-black);

  font-family: var(--tab-font-regular);
}

.container {
  position: relative;
  width: 100%;
}

.container::before,
.container::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.375rem;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease;
  transition-property: visibility, opacity;
}

.container::before {
  left: 0;
  background: linear-gradient(to right, rgb(0 0 0 / 20%), transparent);
}

.container::after {
  right: 0;
  background: linear-gradient(to left, rgb(0 0 0 / 20%), transparent);
}

.container--scrollable-left::before,
.container--scrollable-right::after {
  visibility: visible;
  opacity: 1;
}

.tab-menu {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--leu-color-black-transp-10);

  overflow: auto;
  scrollbar-width: thin;

  @media (--viewport-large) {
    margin-bottom: 2rem;
  }

  @media (--viewport-xlarge) {
    padding: 1rem 0;
    margin-bottom: 2.5rem;
  }
}
