:host {
  --tab-font-regular: var(--leu-font-family-regular);
  --tab-font-black: var(--leu-font-family-black);

  font-family: var(--tab-font-regular);
}

.container {
  position: relative;
  width: 100%;
}

.tab-menu {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0;

  overflow: auto;

  @media (--viewport-xlarge) {
    padding: 1rem 0;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tab-menu ::-webkit-scrollbar {
  display: none;
}

.shadow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0.5rem;
  pointer-events: none;
}

.shadow--left {
  left: 0;
  background: linear-gradient(to right, rgb(0 0 0 / 20%), transparent);
}

.shadow--right {
  right: 0;
  background: linear-gradient(to left, rgb(0 0 0 / 20%), transparent);
}
