.label {
  margin: 0 0 0.5rem;
  font: var(--leu-t-curve-tiny-black-font);
  color: var(--leu-color-black-100);
}

:host([inverted]) .label {
  color: var(--leu-color-black-0);
}

.group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--leu-chip-group-gap, 0.5rem);
}
