@import url("../../styles/custom-media.css");

.scroll-top {
  overflow: hidden;
  position: fixed;
  z-index: var(--leu-z-index-scroll-top);

  --_space: 1.5rem;
  right: var(--_space);
  bottom: var(--_space);

  /* show */
  height: 3rem;
  pointer-events: auto;
  transition: height, bottom 0.9s, 0.6s ease;

  @media (--viewport-regular) {
    --_space: 2rem;
  }

  @media (--viewport-large) {
    --_space: 2.5rem;
  }

  @media (--viewport-xlarge) {
    --_space: 3rem;
  }
}

.hide {
  height: 0;
  pointer-events: none;
  transition: height, top 0.9s, 0.6s ease;
}

@keyframes hide-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

.hide leu-button {
  animation-name: hide-animation;
  animation-duration: 0.45s;
  animation-timing-function: ease;
}
