@import url("../../styles/custom-media.css");

:host {
  --message-text-color: var(--leu-color-black-0);

  font-family: var(--leu-font-family-regular);
}

:host([type="error"]) {
  --_accent-color: var(--message-accent-color, var(--leu-color-func-red));
}

:host([type="warning"]) {
  --_accent-color: var(--message-accent-color, var(--leu-color-func-red));
}

:host([type="success"]) {
  --_accent-color: var(--message-accent-color, var(--leu-color-func-green));
}

:host([type="info"]) {
  --_accent-color: var(--message-accent-color, var(--leu-color-accent-violet));
}

:host([size="regular"]) {
  --message-padding: 0.75rem;
  --message-icon-size: 24px;

  @media (--viewport-large) {
    --message-padding: 1rem;
  }
}

:host([size="large"]) {
  --message-padding: 1rem;
  --message-icon-size: 32px;

  @media (--viewport-regular) {
    --message-padding: 1.25rem;
  }

  @media (--viewport-large) {
    --message-padding: 1.5rem;
  }
}

.message {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  padding: var(--message-padding);
  border-radius: 0.25rem;
  overflow: hidden;

  background-color: var(--leu-color-black-0);
  color: var(--_accent-color);
}

.message::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 0.25rem;
  height: 100%;
  background-color: var(--_accent-color);
}

.message--filled {
  background-color: var(--_accent-color);
  color: var(--message-text-color);
}

.message--filled::before {
  content: none;
}

:host([size="large"]) .message {
  @media (--viewport-small-max) {
    flex-flow: column;
    align-items: start;
    gap: 0.75rem;
  }
}

.message__icon {
  --leu-icon-size: var(--message-icon-size);

  display: block;
  flex: 0 0 min-content;
}

.message__content {
  flex: 1 1 auto;
  font: var(--leu-t-curve-small-regular-font);
  margin-inline: 0.5rem;

  @media (--viewport-regular) {
    margin-inline: 0.75rem;
  }

  @media (--viewport-large) {
    margin-inline: 1rem;
  }
}

:host([size="large"]) .message__content {
  @media (--viewport-small-max) {
    margin-inline: 0;
  }
}

.message__content strong {
  font: var(--leu-t-curve-small-black-font);
}

.message__content p {
  margin: 0;
}

.message__cta {
  display: block;
  flex: 0 0 min-content;
  margin-inline-end: 0.5rem;
}

.message__remove {
  flex: 0 0 min-content;
  border: none;
  background: none;
  padding: 0;
  color: var(--leu-color-black-60);
  cursor: pointer;
}

.message--filled .message__remove {
  color: var(--message-text-color);
}

:host([size="large"]) .message__remove {
  position: absolute;
  inset-block-start: var(--message-padding);
  inset-inline-end: var(--message-padding);

  @media (--viewport-regular) {
    position: static;
    inset: auto;
  }
}

.message__remove-icon {
  --leu-icon-size: 1.5rem;
}
