name: Publish Package to npm

on:
  workflow_dispatch:
  push:
    tags:
      - "leu-v*"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
          registry-url: "https://registry.npmjs.org"
      - run: npm --version
      - run: npm ci
      - run: npm run build
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: "" # actions/setup-node@v6 sets a default value for NODE_AUTH_TOKEN
