on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: Create release and publish to npm

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
